* {
    padding: auto;
    margin: auto;
}

main{
    font-size: 20px;
    font-family: 'poppins',sans-serif;
    text-align: center;
    color: #F5F5F5;
    background: linear-gradient(45deg,#414141,#000000,#414141);
}

#title{
    padding-top: 20px;
    padding-top: -30px;
    font-size: 50px;
    text-decoration: underline;
    color: gold;
    text-shadow: 1.5px 1.5px 1px rgb(172, 146, 0);
}

#img-div{
    margin: auto;
    width: 20cm;
    font-size: 25px;
    background-color: #D3D3D3; 
    color: rgb(41, 40, 40);
}

#image {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media all and (max-width: 600px){
    *{
        font-size: 90%;
    }

    #img-div{
        width: 400px;
        height: 300px;
    }
}

p{
    font-weight: bold;
    font-style: italic;
}

.achievements{
    text-decoration: underline;
}

hr{
    margin: 20px;
}

li{
    padding: 3px;
}

#tribute-info{
    padding: 10px 10px 10px 100px;
    text-align: left;
}

#tribute-link{
    color: greenyellow;
}

